@page "/role"

@inject ChatProductService ChatProductService
@inject StorageService StorageService

<MMain>
    <MList Dense Style="max-height: calc(100vh - 50px);
                        overflow: auto;">
         <MListItemGroup @bind-Value="_selectedItem" Style="background-color: transparent;">
             @foreach (var item in aIRoleSettingDtos)
            {
                <MListItem OnClick="() => SetRole(item)" Class="@("role-item " + GetClass(item.Id))">
                    @if (item.Id == Setting.RoleId)
                    {
                             <MListItemTitle>
                                 <MBadge Content="@("选中")">
                                    @item.Title
                                 </MBadge>
                             </MListItemTitle>
                    }
                    else
                    {
                        <MListItemTitle>
                            @item.Title
                        </MListItemTitle>
                    }
                    <span style="overflow: hidden;
                                 height: 70px;
                                 font-size: 12px;
                                 text-overflow: ellipsis;">
                        @item.Content
                    </span>
                </MListItem>
            }
        </MListItemGroup>
    </MList>
</MMain>
